/* ---------------------------------------------
Table of contents
------------------------------------------------
01. font & reset css
02. reset
03. global styles
04. header
05. banner
06. features
07. testimonials
08. contact
09. footer

--------------------------------------------- */
/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");
/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 14px;
  line-height: 28px;
}

img {
  width: 100%;
  object-fit: contain;
  overflow: hidden;
}
button {
  outline: none;
  border: none;
}

/* 
---------------------------------------------
Global Styles
--------------------------------------------- 
*/
html,
body {
  font-family: 'Poppins', sans-serif;
}

:root {
  /* colors */
  --primery-color:#5CD65C;
  --green_color:#0F6;
  --Text2:#000;
  --commen_red:#DB4444;
  --gray_300:#eaeaea;
  --Hover-Button:#E07575;


  --main-borderRadius:1.25rem;

}

/* start inputs section  */
/* end inputs section  */
@media (max-width:572px) {
  .lg-w-fit {
    width: 100%;
  }
}


/* .container  {
  min-width: 80%;
  margin-inline: auto;
  padding-inline: 1rem;
} */
.full_screen {
  min-height: 100vh;
}
.primery_button {
background-color: var(--commen_red);
color: white;
}
.btn {
  border-radius: 0.25rem;
  padding: .5rem 1.5rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
}

.btn_green {
  color: var(--Text, #FAFAFA);
  background-color: var(--green_color);
}
.circle_button  {
  width: 2.875rem;
  height: 2.875rem;
  display: grid;
  place-items: center;
}
.line {
  width: 100%;
  height: 1px;
  margin-block: 3.75rem;
  background-color: #000;
  opacity: 0.3;
} 
.small-icon-size {
max-height: 1.5rem;
max-width: 1.5rem;
}
.boxs_container {
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(min(150px , 100%) , 1fr));
}
.light-shadow {
border-radius: 31.5rem;
opacity: 0.3;
background: #D9D9D9;
filter: blur(100px);
inset: 0;
}

.center-grid {
  display: grid;
  place-items: center;
}

.commen_titel {
  gap: 1rem;
}
@media (min-width:771px) {
  .btn {
    padding: 1rem 3rem;
  }
  .commen_titel {
    gap: 5.44rem;
  }
  
}
/* Heading/36PX SemiBold */

.Heading_SemiBold { 
font-size: 1.75rem;
font-style: normal;
font-weight: 600;
line-height: 3rem; 
letter-spacing: 0.09rem;
}
/* Heading/32PX Bold */
.Heading_Bold {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.875rem;
  letter-spacing: 0.08rem;
}
/* Title/16PX Medium */
.Title_medium {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
}
.Regular_Title {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}
@media (min-width:768px) {
  .Heading_SemiBold {
    font-size: 2rem;
  }
}

.noneline-input {
border: none;
outline: none;
border-bottom: 2px solid rgba(0, 0, 0, 0.507);
width: 100%;
}
/* .background_shadow {
  background: #000;
  opacity: 56%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.app_background {
  background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

}
.app_container {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.box {
  border-radius:var(--main-borderRadius) ;
  background: #FFF;
  margin: auto;
  text-align: center;
  max-width: 80%;
  display: grid;
  place-items: center;
  padding: 1rem;
}
.box .box_titel {
  color: #000;
  text-align: center;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

}
.box .box_discrption {
  color: #000;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 49ch;
  margin-inline: auto;
}

.box .social_media_box {
  border-radius:var(--main-borderRadius) ;
  background: #7E7E7E;
  height: 4.0625rem;
  width: 55%;
  gap: .88rem;
  margin-inline: auto;
  margin-bottom: 2.12rem;
  padding: .5rem;
}
.box .social_media_icon {
  width: 1.875rem;
height: 1.875rem;
}
.box .social_media_box > p {
  color: #FFF;
font-size: 0.9375rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.box .social_media_box.email {
  background-color: var(--primery-color);
}
.box_note {
  color: #000;
font-size: 0.9375rem;
font-style: normal;
font-weight: 400;
line-height: normal;
  text-align: center;
}  */
header {
  margin-top:  3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--gray_300);
}
.site_logo {
  color: var(--Text2);
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: 1.5rem; /* 100% */
letter-spacing: 0.045rem;
}
.navlinks {
  gap: 1rem;
}
@media (max-width:768px) {
  .navlinks {
    position: fixed;
    top: -25.88rem;
    width: 100%;
    background-color: white;
    z-index: 999;
    transition: all;
    left: 0;
  }
  .navlinks.show {
    top: 5.88rem; 
  }
  .navlinks .navlink {
    margin: 2rem 1rem;
    display: block;
  }
}
@media (min-width:576px) {
  .navlinks {
    gap: 3rem;
  }
}
.navlinks .navlink a {
  color: var(--Text2);
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.5rem; /* 150% */
position: relative;
}
.navlinks .navlink a::after {
content: '';
position: absolute;
left: 0;
bottom: 0;
width: 0%;
height: 1px;
background-color: black;
transition: .5s;
}
.navlinks .navlink:hover a::after,
.navlinks .navlink.active a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: black;
  }
  .dropdown {
    border-radius: 0.25rem;
background: rgba(0, 0, 0, 0.04);
padding: 1.125rem 0.75rem 0.625rem 1.25rem;
backdrop-filter: blur(75px);
  }

.category_menu .category_link {
  color: var(--Text2, #000);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  margin-bottom: 1rem;
}
.category_menu {
  padding-top: 2.5rem;
}
@media (min-width:771px) {
  .hero_container {
    margin-top: 2.5rem; margin-left: 2.81rem;
  }
  .hero_titel {
    text-align: left !important;
  }
  .category_menu {
    border-right: 1px solid var(--gray_300) ;
    margin-right: 1rem;
    }
    .hero_titel {
      font-size: 3rem;
    }
}
.hero_logo {
  width: 2.5rem;
}
.hero_product_name {
  color:  #FAFAFA;
text-align: center;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.5rem; /* 150% */
}
.hero_titel {
  color: var(--Text, #FAFAFA);
  font-size: 2rem;
font-style: normal;
font-weight: 600;
line-height: 3.75rem; /* 125% */
letter-spacing: 0.12rem;
margin-block: 1.25rem;
text-align: center;
}
.hero_btn {
  color: var(--Text, #FAFAFA);
text-align: center;
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: 1.5rem; /* 150% */
display: flex;
align-items: center;
background-color: transparent;
width: 100%;
gap: .5rem;
}
.hero_btn img {
  width: 1.5rem;
height: 1.5rem;
}
.circle {
  width: 0.75rem;
height: 0.75rem;
  background-color: var(--Primary, #FFF);
opacity: 0.5;

}

.aftersoudo-element::after {
  content: '*';
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: var(--commen_red);
}

.circle.active {

background-color:var(--commen_red) ;
border: 2px solid white;
opacity: 1;

}

/* 
---------------------------------------------
start the product sction
--------------------------------------------- 
*/

.section_titel {
  color: var(--commen_red);
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: 1.25rem; /* 125% */
}

.timer .type_date {
  color: var(--Text2);
font-size: 0.75rem;
font-style: normal;
font-weight: 500;
line-height: 1.125rem; /* 150% */
}
.timer .Subthoracic_Points {
  font-weight: 700;
  color: var(--Hover-Button);
  font-size: 1rem;
  margin-top: auto;
}


.discount_box {
border-radius: 0.25rem;
background: var(--Secondary-2, #DB4444);
display: inline-flex;
padding: 0.25rem 0.75rem;
color: #FAFAFA;
font-size: 0.75rem;
font-style: normal;
font-weight: 400;
line-height: 1.125rem; /* 150% */

}

.product_card {
  cursor: pointer;
  position: relative;
  border-radius: 0.25rem;
  height: 15.625rem;
  padding: 0.75rem;
  background-color:#F5F5F5;
  transition: all 1s;
  overflow: hidden;
}
.product_card:hover .product_card{
  transition: all 1s;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.product_img {
  width: 10.75rem;
   height: 9.5rem; 
   position: absolute ;
   top: 50%;
   left: 50%;
   transform: translate(-50% , -50%);
}
.product_content {
margin-top: 1rem;
}
.product_content .product_price {
  color: var(--commen_red);
  padding-right: .75rem;
  margin-top: .5rem;
}

.product_content .product_after_discount {
  color:#000;
font-size: 1rem;
font-style: normal;
opacity: 0.5;
font-weight: 500;
line-height: 1.5rem; /* 150% */
margin-left: .75rem;
margin-top: 1rem;
}

.product_content .rate {
  color: var(--Text2);
font-size: 0.875rem;
font-style: normal;
font-weight: 600;
line-height: 1.3125rem; /* 150% */
opacity: 0.5;
}

/* 
---------------------------------------------
start the Category section
--------------------------------------------- 
*/

.category_box {
height: 9.0625rem;
padding: 1rem;
  border-radius: 0.25rem;
border: 1px solid rgba(0, 0, 0, 0.30);
display: grid;
place-items: center;
gap: 1rem;
}
.category_box.active {
  background-color: var(--commen_red);
  color: white;
}
.category_img {
  width: 3.5rem;
height: 3.5rem;
}

/* 
---------------------------------------------
start the Enhance Experience section
--------------------------------------------- 
*/
.Experience_content .section_type {
  color: var(--green_color);
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: 1.25rem; /* 125% */
}
.Flash_Sell_Timer {
  width: 3.875rem;
  height: 3.875rem;
  background-color: #FFFFFF;
}

.Flash_Sell_Timer h1 {
  color: var(--Text2, #000);
font-size: 0.6875rem;
font-style: normal;
font-weight: 400;
line-height: 1.125rem;
}

/* 
---------------------------------------------
start the New Arrival section
--------------------------------------------- 
*/
@media (min-width:768px) {
  .left_content,
  .right_content {
  padding-top: 5.56rem;
  padding-inline: 1.88rem 1.81rem;
  }
}
.left_content,
.right_content {
padding-top: 3rem;
padding-inline: 1rem;
}
 .thub {
  position: relative;
  border-radius: 0.25rem;
  color:white;
  cursor: pointer;
}
.inner_content {
  position: absolute;
  bottom: 2rem ;
  left: 2rem;

}

.inner_content .product_discrption {
  margin-block: 1rem;
  max-width: 30ch;
}


/* 
---------------------------------------------
start the product sction
--------------------------------------------- 
*/

.benfites-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit , minmax(300px , 1fr));
  column-gap: 5.5rem;
  row-gap: 2rem;
  margin-block: 8.75rem ;
}
.benfite-card {
  text-align: center;

}
.benfite-card .benfite-titel {
  margin-block: 1.5rem .5rem;
  
}
.benfite-card .benfite-img {
  width: 5rem;
height: 5rem;
}

/* start register section */
.auth-box {
  padding-block: 3.75rem 8.75rem;
}
.auth-box  .auth-titel {
  color: var(--Text2, #000);
font-size: clamp(1.75em ,4vw ,2.25rem );
font-style: normal;
font-weight: 500;
line-height: 1.875rem; 
letter-spacing: 0.09rem;
}

.background-authimg {
  display: grid;
  place-items: center;
  border-radius: 0rem 0.25rem 0.25rem 0rem;
background: #CBE4E8;
padding-top: 4.6875rem;
}
.social_media_box {
  border-radius: 0.25rem;
border: 1px solid rgba(0, 0, 0, 0.40);
padding: 1rem;
}
.social_media_box .inner-content {
  color: var(--Text2, #000);
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.5rem; /* 150% */
}


@media (min-width: 1440px) {
  .right-content {
    margin: auto;
    max-width: 30%;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .right-content {
    margin: auto;
    max-width: 40%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .right-content {
    margin: auto;
    max-width: 45%;
  }
}
@media (max-width:768px) {
  .auth-box {
    padding: 2rem;
    gap: 2rem;
  }
  
}

/* end register section */

/* start Wishlist section */
.outline_gray-button {
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.50);
  background-color: transparent;
  padding: 6px;
  color: black;

}
@media (min-width:768px) {
  .outline_gray-button {
    padding: 1rem 3rem;
  }
}
/* end Wishlist section */

/* start cart page section  */
.cart-tabel {
  border-radius: 0.25rem;
  background: #FFF;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
  padding: .5rem;
margin-bottom: 2.5rem;
}
.total-cart {
  border-radius: 0.25rem;
border: 1.5px solid #000;
padding: 1.5rem;
}
.cart-counter {
  padding: .3rem;
  border-radius: 0.25rem;
  border: 1.5px solid rgba(0, 0, 0, 0.40);
  height: 2.75rem;
  width: 3.5rem;

}

@media (min-width:768px) {
  .cart-tabel {
    padding: 1.5rem 2.4375rem 1.5rem 2.5rem;
  }
  .cart-counter {
    width: 4.5rem;
    padding: 0.375rem 0.75rem;

  }
  .coupon-input {
    flex-basis: 60%;
  }
}
@media (max-width:768px) {
  .input-equle {
    display: block;
    flex: 1;
  }
  .flex-equle {
    flex-basis: max-content;
    flex: 1;
    display: block;
  }
}
/* end cart page section  */

/* start the checkout page  */
@media (min-width:991px) {
  .inputs-container {
    margin-right: 10rem;
  }
  
}
/* end the checkout page  */
/* start the story page  */
.story-discrption {
color: var(--Text2, #000);
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.625rem; /* 162.5% */
}
.states-card {
  padding: 1.875rem 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.30);
  text-align: center;
}
.states-card.active {
  background: var(--commen_red);
  color: white;
} 
.proson-card .porson-withbg{
  border-radius: 0.25rem;
  width: 100%;
  min-height: 25rem;
background: var(--Secondary, #F5F5F5);
position: relative;
} 
.proson-card .porson-withbg img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.proson-card .porson-withbg .img1 {
  width: 14.75rem;
height: 24.4375rem;
}
.proson-card .porson-withbg .img2 {
  width: 18.375rem;
height: 24.8125rem;
}
.proson-card .porson-withbg .img3 {
  width: 20.375rem;
  height: 24.5rem;
}
.section-height {
  height: calc(100vh - 5.88rem);
}
/* end the story page  */
/* start the err page */
.err-titel {
font-size:clamp(2.5rem , 8vw, 6.875rem);
font-style: normal;
font-weight: 500;
line-height: 7.1875rem; /* 104.545% */
letter-spacing: 0.20625rem;
}
/* end the err page */
.small-product-img {
  padding: 0.75rem 1.5625rem 0.75rem 1.5rem;
  border-radius: 0.25rem;
  background:  #F5F5F5;
}
.small-product-img {
  width: 7.5625rem;
}
/* start prodcut page */
.size-tag {
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.50);
  width: 2rem;
height: 2rem;
display: grid;
place-items: center;
}
.product-img {
  border-radius: 0.25rem;
  padding: 9.625rem 1.6875rem 8.1875rem 1.6875rem;
  background: var(--Secondary, #F5F5F5); 
}
.product-img > img {
  max-width: 27.875rem;
}
.product-counter {
  height: 2.75rem;
}
.product-counter .min {
  border-radius: 0.25rem 0rem 0rem 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.50);
  font-size: 1.5rem;
}
.product-counter .count-value {
  border-top: 1px solid rgba(0, 0, 0, 0.50);
border-bottom: 1px solid rgba(0, 0, 0, 0.50);
width: 5rem;
}
.plus {
  color: white;
  border-radius: 0rem 0.25rem 0.25rem 0rem;
  background-color: var(--commen_red);
  font-size: 1.5rem;
}
.benfits-container {
  border-radius: 0.25rem;
border: 1px solid rgba(0, 0, 0, 0.50);
}
.benfits-container .benfite-box {
  margin:1rem;
}
.benfits-container .benfite-box img {
width: 2.5rem;
height: 2.5rem;
}
.benfits-container .benfite-box p {
font-size: 0.75rem;
font-style: normal;
font-weight: 500;
line-height: 1.125rem; /* 150% */
text-decoration-line: underline;
}

@media only screen and (min-width: 1200px) {
  .product-content {
    width: 50%;
    margin-inline: auto;
  }
}
@media (min-width:991px) {
  
  .product-img {
    width: 30%;
    margin-inline: auto;
  }
}
/* end product page */
/* start gitintech section  */
.left-content {
  padding: 2.5rem 2.1875rem 3.1875rem 2.1875rem;
  border-radius: 0.25rem;
  background: var(--Primary, #FFF);
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
  height: fit-content;
}
.inputs-content {
  padding: 2.5rem 2rem 2.5rem 1.9375rem;
  border-radius: 0.25rem;
background: var(--Primary, #FFF);
box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
margin-left: auto;
height: fit-content;
}
.Massage_area {
  padding: 1rem;
  border-radius: 0.25rem;
background: var(--Secondary, #F5F5F5);
outline-color: transparent;
margin-block: 2rem;
resize: none;
border: none;
width: 100%;
min-height: 12.9375rem;
}
/* end gitintech section */



 